* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
/* custom resusable classes */
.flex {
  display: flex;
}
.min-screen {
  min-height: 100vh;
}
.text-white {
  color: white;
}
.text-gray {
  color: grey;
}
.bg-cream {
  background-color: #fffbf7 !important ;
}
.bg-white {
  background-color: white;
}
.text-center {
  text-align: center;
}
.my-1 {
  margin-block: 1rem;
}
.my-2 {
  margin-block: 2rem;
}
/* start sidebar stylling */
aside {
  width: 300px;
  padding: 20px;
  background: #000;
  position: fixed;
  left: 0%;
  height: 100%;
}
aside img {
  height: 120px;
  width: 120px;
  display: block;
  border-radius: 50%;
  border: 7px solid rgb(53, 50, 50);
  margin: auto;
}
.aside-header .icons {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 22px;
}
.aside-header .icons a {
  background-color: rgb(53, 50, 50);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

aside ul li {
  margin-bottom: 40px;
}
aside ul li a i {
  margin-right: 15px;
  width: 20px;
  text-align: end;
}
aside ul li a {
  color: #a8a9b4;
  font-weight: 500;
  font-size: 15px;
}
aside ul li a:hover {
  color: rgb(255, 255, 255);
}
aside ul li a:hover i {
  color: rgb(8, 162, 223);
}
aside ul li a.active {
  color: rgb(255, 255, 255);
}
aside ul li a.active i {
  color: rgb(8, 162, 223);
}
/* close sidebar stylling */

/* start home stylling */
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://themewagon.github.io/iPortfolio/assets/img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  gap: 10px;
  height: 100vh;
  padding-left: 10%;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.home h1 {
  font-size: clamp(1.875rem, 1.4205rem + 2.2727vw, 3.125rem);
}
.home h2 {
  font-size: clamp(1.375rem, 0.9659rem + 2.0455vw, 2.5rem);
}
.home h2 span {
  border-bottom: 2px solid rgb(8, 162, 223);
}
/* about  */
.container {
  padding: 50px 20px;
  max-width: 1280px;
  margin: auto;
}
.about-main {
  gap: 25px;
  margin-block: 40px;
}
.about-main img {
  width: 100%;
  max-width: 380px;
  min-width: 250px;
}
.about-content {
  flex-direction: column;
  gap: 20px;
}
.about-details {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.about-details div {
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
.about-details div p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-details span {
  color: rgb(8, 162, 223);
  font-size: 25px;
  font-weight: 100;
}
/* counters */
.counters {
  flex-wrap: wrap;
  gap: 10px;
}

.counter {
  gap: 12px;
  flex-grow: 1;
}

.counter i {
  font-size: 40px;
  color: rgb(8, 162, 223);
  margin-top: 7px;
}
.counter div h1 {
  font-size: 42px;
}
.counter div p:nth-child(3) {
  color: #a8a9b4;
}
/* skills-section */
.skills-section {
  margin-block: 140px;
}
.skills .bars {
  flex-grow: 1;
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  gap: 15px;
}
.skills {
  gap: 20px;
  flex-wrap: wrap;
}
.skill-bar div:nth-child(1) {
  justify-content: space-between;
}
.progress {
  margin-top: 10px;
  background-color: #a8a9b4;
}
.progress-bar {
  height: 10px;
  background-color: rgb(8, 162, 223);
}
/* service section */
.icon-div {
  background-color: rgb(8, 162, 223);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  flex-shrink: 0;
  line-height: 58px;
  transition: all 0.5s;
}
.icon-div2 {
  font-size: 15px;
  color: rgb(8, 162, 223);
  background-color: #fffbf7;
}

.service-cards {
  flex-wrap: wrap;
  gap: 40px 20px;
}
.service-cards p {
  font-size: 14px;
}
.service-cards .counter {
  flex-grow: 1;
  flex-basis: 320px;
}
.service-cards .counter:hover .icon-div {
  background-color: white;
  border: 1px solid rgb(8, 162, 223);
}
.service-cards .counter:hover i {
  color: rgb(8, 162, 223) !important;
}
/* contact us */
.map {
  padding: 20px;
}
.contract-card {
  margin-bottom: 40px;
}
.contact-parent {
  padding: 10px;
}

.summary h1 {
  font-size: 40px;
  font-weight: 600;
}
.Resume-content h2 {
  font-size: 30px;
  font-weight: 500;
}
.Resume-content h4 {
  font-size: 25px;
  font-weight: 250px;
}
.Resume-content div p {
  line-height: 20px;
}
.Resume-content {
  position: relative;
}
.Resume-content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  background-color: rgb(8, 162, 223);
}
.Resume-content::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -1.2%;
  top: 0;
  border: 2px solid rgb(8, 162, 223);
  background-color: #fff;
}
/* css media queries */
@media (max-width: 1199px) {
  aside {
    position: fixed;
    transition: all 0.6s linear;
    left: -100%;
  }
}

@media (min-width: 1200px) {
  main {
    margin-left: 300px;
  }
}

@media (max-width: 768px) {
  .about-main {
    flex-direction: column;
  }
  .home {
    height: 400px;
  }
}
